@use "variables" as v;

//Los mixin son como funciones que le podemos pasar parametros y argumentos para hacerlos mas inteligentes y reutilizables.
@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}
@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}
@mixin grid($col, $space) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  gap: $space;
}